* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.topbar {
  position: fixed !important;
  background: #ff5353;
  height: 80px;
  width: 100%;
  z-index: 3000;
  box-shadow: 0 2px 10px rgba(130, 23, 22, 0.1);
}
.topbar .container {
  box-sizing: border-box;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 60px;
  width: 100%;
  min-width: 1280px;
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
  text-align: center;
}
.topbar .header .style_menuIcon {
  display: inline-flex;
  flex-direction: column;
  width: 18px;
  height: 12px;
  justify-content: space-between;
  vertical-align: middle;
  transition: transform 0.3s;
}
.topbar .header .style_menuIcon i {
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  transition: transform 0.3s, opacity 0.3s;
}
.topbar .header .logo {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
.topbar .header .logo .style_logo-link {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  position: absolute;
}
.topbar .header .logo img {
  width: 100%;
}
.topbar .header .content {
  flex: 1;
}
.topbar .header .content .nav {
  z-index: 1000;
  position: relative;
  display: flex;
}
.topbar .header .content .nav .nav_item {
  font-size: 16px;
  color: #fff;
  transition: background-color 0.3s;
  letter-spacing: 0.06em;
}
.topbar .header .content .nav .nav_item .style_container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar .header .content .nav .nav_item .style_container .style_text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 17px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  word-break: keep-all;
}
.topbar .header .content .nav .nav_item .style_container .style_text a {
  color: #fff;
  text-decoration: none;
}
.topbar .header .content .nav .nav_item .style_container .style_arrow {
  font-size: 0;
}
.topbar .header .nav_right {
  height: 100%;
  display: flex;
}
.topbar .header .nav_right .language_box {
  color: #fff;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.topbar .header .nav_right .language_box .language_text_box {
  width: 127px;
  height: 29px;
  left: 1435px;
  top: 30px;
  background: url(../languageBg.svg) 12px 50%/18px no-repeat;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.topbar .header .nav_right .language_box .language_text_box .language_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin-left: 10px;
  color: #fff;
  font-family: sans-serif;
}
.topbar .header .nav_right .language_box .language_text_box .language_text::after {
  width: 0;
  height: 0;
  position: absolute;
  top: 36px;
  right: 8px;
  content: "";
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all 0.3s;
}
.topbar .header .nav_right .student_center {
  margin-left: 8px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar .header .nav_right .student_center .link {
  display: inline-block;
  text-indent: -8px;
  width: 118px;
  height: 29px;
  font-family: sans-serif;
  box-shadow: 0 1px 3px rgba(223, 31, 31, 0.25);
  border-radius: 100px;
  color: #ff5353;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.06em;
  background: #fff url(../arrow-standard.svg) 94%/12px no-repeat;
  padding: 7px 0 7px;
}
.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  background: #fff;
}
.wrapper .content {
  flex: 1 0 auto;
  margin-top: 80px;
}
.wrapper .content .container_introduction-one {
  height: 675px;
  position: relative;
}
.wrapper .content .container_introduction-one .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  bottom: 0;
  user-select: none;
  pointer-events: none;
  background: #ff5353;
}
.wrapper .content .container_introduction-one .background .span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.wrapper .content .container_introduction-one .background .text_edu {
  left: 39.8%;
  top: 149px;
  font-size: 90px;
  line-height: 220px;
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
  font-family: HelveticaNeueLTPro, sans-serif;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.wrapper .content .container_introduction-one .background .text_cation {
  right: 12.3%;
  font-size: 60px;
  top: 298px;
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
  font-family: HelveticaNeueLTPro, sans-serif;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.wrapper .content .container_introduction-one .title_container {
  position: relative;
  z-index: 1;
  width: 890px;
  margin: 0 auto;
  padding-top: 144px;
}
.wrapper .content .container_introduction-one .title_container .style_harvard {
  position: absolute;
  z-index: 3;
  background: #fff;
}
.wrapper .content .container_introduction-one .title_container .style_harvard .style_harvard_img {
  margin: auto;
}
.wrapper .content .container_introduction-one .title_container .style_harvard .style_harvard_text {
  color: #a5403e;
  white-space: pre-line;
}
.wrapper .content .container_introduction-one .title_container .title_group {
  position: relative;
  display: inline-block;
  font-family: FZLanTYJW, sans-serif;
}
.wrapper .content .container_introduction-one .title_container .title_group .style_title {
  font-size: 50px;
  line-height: 58px;
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.15em;
  white-space: pre-line;
}
.wrapper .content .container_introduction-one .title_container .title_group .style_yearsold {
  width: 133px;
  height: 68px;
  font-size: 32px;
  line-height: 56px;
  top: -26px;
  right: 40px;
  padding: 0 0 0 11px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 24px;
  color: #f66;
  background: url(../popup-arrow-pc.svg) 0 0 / cover no-repeat;
  position: absolute;
  letter-spacing: -0.01em;
  transform: translateX(100%);
}
.wrapper .content .container_introduction-one .title_container .style_subtitle {
  font-size: 32px;
  line-height: 45px;
  padding-top: 36px;
  color: #fff;
  letter-spacing: 0.08em;
  font-weight: bold;
}
.wrapper .content .container_introduction-one .title_container .style_subtitle .style_double-arrow {
  padding-top: 10px;
  width: 25px;
  height: 35px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  fill: none;
  overflow: hidden;
  box-sizing: none;
}
.wrapper .content .container_introduction-one .title_container .style_button {
  padding-top: 42px;
}
.wrapper .content .container_introduction-one .title_container .style_button .style_blue-button {
  font-size: 22px;
  padding: 10px 35px;
  letter-spacing: 0.3em;
  word-break: keep-all;
  white-space: nowrap;
  color: #fff;
  background: #009cff;
  border-radius: 50px;
  border: none;
  line-height: 1.4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
}
.wrapper .content .container_introduction-one .title_container .parallex_outer {
  position: absolute;
  z-index: 1;
  width: 512px;
  height: 309px;
  left: -84px;
  bottom: -350px;
}
.wrapper .content .container_introduction-one .style_pic {
  position: absolute;
  bottom: -56px;
  right: 0;
  height: 680px;
  pointer-events: none;
  user-select: none;
  width: 1106px;
}
.wrapper .content .container_introduction-one .style_pic .style_ip {
  position: absolute;
  transform: rotate(336deg);
  left: 32%;
  bottom: 28%;
  width: 179px;
  height: 229px;
}
.wrapper .content .container_introduction-two {
  position: relative;
  box-sizing: border-box;
  padding-top: 154px;
  height: 880px;
  overflow: hidden;
  background: #f8fcff;
}
.wrapper .content .container_introduction-two .style_content {
  width: 1280px;
  margin-left: auto;
}
.wrapper .content .container_introduction-two .style_content .style_title-container {
  padding-left: 40px;
  padding-top: 20px;
  position: relative;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .css-slogan {
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 0ms;
  animation-name: animation-1rg2aqu;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .css-slogan .style-title {
  color: #ff5353;
  font-size: 30px;
  line-height: 42px;
  position: relative;
  font-weight: 600;
  white-space: pre-line;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .css-slogan .style-title::after {
  content: " ";
  display: block;
  position: absolute;
  background: #ff5353;
  width: 5px;
  top: 8px;
  left: -26px;
  bottom: 8px;
  border-radius: 10px;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards {
  position: absolute;
  top: 120px;
  right: -260px;
  width: 1140px;
  --swiper-theme-color: #ff5353;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic {
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 0ms;
  animation-name: animation-580wcl;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container-pointer-events {
  touch-action: pan-y;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  transform: translateZ(0);
  z-index: 10;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container .swiper-pagination .swiper-pagination-bullet {
  margin: 0 20px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container .swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container .swiper-wrapper .swiper-slide .style_box {
  cursor: pointer;
  padding-bottom: 86px;
  padding: 20px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 521.7px;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container .swiper-wrapper .swiper-slide .style_box .style_container {
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .style_cards .css-right-pic .swiper-container .swiper-wrapper .swiper-slide .style_box .style_container .style_pic {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  transition: all 0.3s;
  width: 325.6px;
  height: 260.48px;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .css-description {
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 100ms;
  animation-name: animation-1rg2aqu;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .css-description .style_desc {
  padding-top: 33px;
  font-size: 18px;
  width: 320px;
  line-height: 26px;
  font-weight: 300;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .css-left-pic {
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 200ms;
  animation-name: animation-1rg2aqu;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.wrapper .content .container_introduction-two .style_content .style_title-container .css-left-pic .style_img-container {
  position: absolute;
}
@media (min-width: 1600px) {
  .container {
    box-sizing: border-box;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 60px;
    width: 100%;
    min-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80px;
    text-align: center;
  }
  .style_text {
    font-size: 18px;
  }
  .container_introduction-two {
    height: 965px;
  }
  .container_introduction-two .style_desc {
    width: 440px px;
  }
  .container_introduction-two .style_img-container {
    width: 652px;
    height: 502px;
    left: -125px;
    bottom: -530px;
  }
  .container_introduction-two .style_cards {
    right: -200px;
    width: 1300px;
  }
  .container_introduction-two .style_cards .style_box {
    padding: 20px 8px;
    width: 416px;
    height: 586px;
  }
  .container_introduction-two .style_cards .style_box .style_container .style_pic {
    width: 366.08px;
    height: 302px;
  }
}
@media (min-width: 1259px) {
  .style_menuContainer {
    display: none;
  }
  .nav_item {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .nav_item .style_text {
    font-size: 16px;
  }
  .nav_item .style_text a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav_item .style_arrow {
    display: none;
  }
  .nav_item .style_option {
    left: -100vw;
    padding: 15px 22px 20px 13px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    border-top: 5px solid #f72e2e;
    background: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    white-space: nowrap;
    text-align: left;
    transition: left 0s 0.3s, opacity 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(10px);
    min-width: 100%;
    box-sizing: border-box;
  }
}
@media (min-width: 721px) and (max-width: 1259px) {
  .style_menuContainer {
    width: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
  }
  .logo {
    flex: 1;
  }
  .content {
    position: absolute;
    left: 100%;
    top: 76px;
    padding-top: 76px;
    width: 100vw;
    height: 100vh;
    background: #ff5353;
    overflow: scroll;
    z-index: 20;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .nav_right {
    position: absolute;
    right: 20px;
  }
  .container {
    height: 80px;
    min-width: 100%;
  }
  .container .style_menuContainer {
    width: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
  }
  .container .content {
    position: absolute;
    left: 100%;
    top: 76px;
    padding-top: 76px;
    width: 100vw;
    height: 100vh;
    background: #ff5353;
    overflow: scroll;
    z-index: 20;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .container .content .nav {
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
  }
  .container .content .nav .nav_item {
    height: auto;
    margin-right: 0;
  }
  .container_introduction-two .style_img-container {
    width: 462px;
    height: 356px;
    left: 0;
    bottom: -458px;
  }
}
@media (max-width: 720px) {
  .container {
    justify-content: flex-start;
  }
  .container .style_menuContainer {
    width: 4.8vmin;
    cursor: pointer;
    position: absolute;
    top: 47%;
    left: 5.86666667vmin;
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
  }
  .container .logo {
    width: 18.4vmin;
    height: 6.13333333vmin;
  }
  .container .content {
    position: absolute;
    left: 100%;
    top: 12.26666667vmin;
    padding-top: 12.26666667vmin;
    width: 100vw;
    height: 100vh;
    background: #ff5353;
    overflow: scroll;
    z-index: 20;
    display: none;
    pointer-events: none;
  }
  .container .content .nav {
    height: 100%;
    flex-direction: column;
    width: 100%;
    margin-bottom: 122.66666667vmin;
  }
  .container .content .nav .nav_item {
    height: auto;
    margin-right: 0;
  }
  .container .content .nav .nav_item .style_container {
    flex-direction: column;
    align-items: flex-start;
  }
  .container .content .nav .nav_item .style_container .nav_text {
    height: 15.2vmin;
    margin-right: 5.86666667vmin;
    margin-left: 5.86666667vmin;
    border-bottom: 0.26666667vmin solid #fff;
    font-size: 5.86666667vmin;
    justify-content: start;
    padding: 0 5.33333333vmin 0 0.8vmin;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100vw - 5.86666667vmin - 5.86666667vmin);
  }
  .container .content .nav .nav_item .style_container .nav_text a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15.2vmin;
  }
  .container .content .nav .nav_item .style_container .style_arrow {
    padding: 2.13333333vmin;
    position: absolute;
    top: 4.53333333vmin;
    right: 8.53333333vmin;
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
  .container .content .nav .nav_item .style_container .style_option {
    display: none;
    margin-top: -0.26666667vmin;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    text-align: left;
    padding: 0 5.86666667vmin;
  }
  .container .nav_right {
    position: absolute;
    right: 5.6vmin;
  }
}
@media (min-width: 721px) {
  .wrapper {
    min-width: 1280px;
  }
  .wrapper .container_introduction-one .style_harvard {
    width: 180px;
    height: 132px;
    border-radius: 0 0 20px 20px;
    left: 0;
    top: 0;
  }
  .wrapper .container_introduction-one .style_harvard .style_harvard_img {
    width: 164px;
    height: 76px;
  }
  .wrapper .container_introduction-one .style_harvard .style_harvard_text {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
  }
  .wrapper .container_introduction-one .style_harvard .style_harvard::after {
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 69, 70, 0.5), hsla(0, 100%, 95%, 0));
    top: 0;
  }
  .wrapper .container_introduction-two .style_content {
    width: 1670px;
  }
}
/*# sourceMappingURL=./global.css.map */